<div class = "container">

 <h2><strong>映画一覧(全<%= @total_count %>件中<%= @movies.count %>件)</strong></h2>
</div>
<div class= "col-2">
<%= render 'sidebar', genres: @genres %>
</div>

<div class="d-flex flex-wrap col-10">
 <% @movies.each do |movie| %>
<table>
 <tr>
 <td>
 <div class="card-wrapper">

 <div class="card-upperinfo">
  <p class="movie-name"><%= link_to movie.title, movie_path(movie.id) %></p>
  <p>><%= image_tag movie.img_url, size: "200x300" %></p>
 </div>
 </div>
 </div>
 </td>
 </tr>
</table>
 <% end %>
</div>

<div class="row justify-content-center ">
<%= paginate @movies %>
</div>

