<div class="row">
<div class= "col-2">
 <%= render 'sidebar', genres: @genres %>
</div>
<div class="col-8 mb-4">
<div class="d-flex flex-wrap">
 <% @movies.each do |movie| %>
 <div class="movie-box mx-4">
 <h2><strong>投稿一覧(全<span><%=@movies.count %></span>件)</strong></h2>
 <%= link_to master_movie_path(movie.id) do %>
  <p><%= image_tag movie.get_image(100,420) %></p><% end %>
  <p class="movie-name"><%= movie.title %></p>
    <div class="star-group">
      <div class="detail-review">評価</div>
      <div class="detail-value", id="star-comf-<%= movie.id %>"></div>
      <div class="eval-star"><%= movie.comfort %>/5点</div>
    </div>
      <script>
      $('#star-comf-<%= movie.id %>').empty();
      $('#star-comf-<%= movie.id %>').raty({
        size: 38,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= movie.comfort %>,
      });
      </script>
    </div>
 <% end %>
 </div>
 </div>

<div class="row justify-content-center ">
 <%= paginate @movies %>
</div>
</div>
</div>