<div class="row">
<div class= "col-2">
 <%= render 'sidebar', genres: @genres %>
</div>
<div class="col-8 mb-4">
<div class="d-flex flex-wrap">
 <% @movies.each do |movie| %>
 <div class="movie-box mx-4">
 <h2><strong>映画一覧(全<span><%=@movies.count %></span>件)</strong></h2>
 <%= link_to master_movie_path(movie.id) do %>
  <p><%= image_tag movie.get_image(100,420) %></p><% end %>
  <p class="movie-name"><%= movie.title %></p>

    </div>
 <% end %>
 </div>
 </div>

<div class="row justify-content-center ">
 <%= paginate @movies %>
</div>
</div>
</div>