<div class ="container">
<div class="row mb-5">
 <h2>感想・評価</h2>
</div>
</div>

<div class ="col-8 mb-4">

 <%= link_to movie_path(@movie.id) do %>
  <p><%= image_tag @movie.img_url, size: "200x300" %></p><% end %>
  <p>　</p>
  <h3 class="movie-title"><%= @movie.title %></h3>
  <p>公開日 <%= @movie.day %></p>
  <p class = "movie-body"><%= @movie.body %></p>


  <br>
  <%#= render "public/movie_comments/form", movie: @movie, movie_comment: @movie_comment %>

  <br>

 <div class="movie-comments-index">

  <%= render "master/movie_comments/index", movie: @movie, movie_comment: @movie_comment %>
 </div>

</div>