<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'icon.png'%>
    <title>Moviapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body class="d-flex flex-column vh-100 col-xs-12">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">

          <a class="navbar-brand" href="/"><span><%= image_tag 'logo.png', size: "200x50" %></span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background-color:white;"><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if master_signed_in? %>
              <!--adminログイン状態の際に、表示したいheaderのメニューを記載-->
               <li class="nav-item mr-2">
                <%= link_to '映画一覧', master_movies_path, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <li class="nav-item mr-2">
                <%= link_to 'ユーザー一覧', master_users_path, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <li class="nav-item mr-2">
                <%= link_to 'ジャンル一覧', master_genres_path, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <li class="nav-item mr-2">
                <%= link_to 'ログアウト', destroy_master_session_path, method: :delete, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <%= render "master/searches/form" %>
              <% elsif user_signed_in? %>
              <!--customerログイン状態の際に、表示したいheaderのメニューを記載-->
              <li class="name mt-1 mr-5" style="color:white;">ようこそ<span><%= current_user.name %></span>さん！</li>
               <li class="nav-item mr-2">
                <%= link_to 'マイページ', user_path(current_user), class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <li class="nav-item mr-2">
                <%= link_to '映画一覧', movies_path, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <li class="nav-item mr-2">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
              <%= render "public/searches/form" %>
              <% else %>
              <!--adminでもcustomerでもログインしていない時に表示するheaderのメニューを記載-->
               <li class="nav-item mr-2">
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
               <li class="nav-item mr-2">
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-light btn-sm btn-block " %>
               </li>
              <% end %>
            </ul>
          </div>



      </nav>


    </header>

    <main>
     <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
   <footer class="fixed-bottom pt-2 pb-3" style="background-color:black;">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>
  </body>
  </html>